.MiniCard-container {
    padding: 10;
    display: flex;
    flex-direction: row;
    background-color: blue;
    width: 130px;
    height: 130px;
    border: 2px solid white;
    border-radius: 10px;
    margin: 0px 10px;
}

.MiniCard-title {
    color: aliceblue;
}

.MiniCard-container {
    transition: .1s;
    overflow: hidden;
}

.MiniCard-container:hover {
    transform: scale(1.6);
    /* scale: 1.6; */
    border-radius: 30px;
    transition: .3s;
    cursor: pointer;
}

.MiniCard-img {
    width: auto;
    height: auto;
}