.cardWindow {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
    background-color: beige;
    align-items: center;
}

.cardWindow {
    background-color: beige;
    transition: 0.1s;
}

.cardWindow:hover {
    color: red;
    cursor: pointer;
    scale: 0.97;
    transition: 0.1s;
}


.containerCardWindow {
    display: block;
}