.episodeContainer {
    background-color: rgb(203, 203, 203);
    border-radius: 10px;
    margin: 3px;
    padding: 3px;
}

.nameEpisode {
    font-weight: 900;
}

.airDateEpisode {
    font-size: 15px;
    font-style: italic;
}