.containerWindowCompare {
    width: 49.5%;
    background-color: rgb(50, 48, 56);
    height: 50vh;
    overflow-y: auto;
    text-align: center;
    border: 3px solid black;
}

.windowCompare {
    column-count: 2;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.headerWindowCompare {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    height: 40px;
}

.arrowWindowCompare {
    stroke-width: 4px;
    width: 30px;
    height: 30px;
    transition: 0.3s;
}

.arrowWindowCompare :hover {
    transition: 0.3s;
    color: red;
    cursor: pointer;
}